html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    padding-top: -500px;
    display: table-cell;
    vertical-align: middle;
    border: 4mm ridge rgb(245, 126, 6);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto }

h1 {
  text-align: center;
}

a:hover{
    color: darkorange;
    
}

a.forward{
    font-size: 300%;
}


a.back{
    font-size: 300%;
}

