<!-- Our CSS -->
<link href="{{url_for('static', filename='app.css')}}" rel="stylesheet">

<html>
<head>
    <title>Advanced</title>
</head>
<body>
<h1>Advanced Destails Here!</h1>
 <p><a href="/distance">Go Back</a></p>
</body>
</html>