<!-- Our CSS -->
<link href="{{url_for('static', filename='app.css')}}" rel="stylesheet">

<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Speed -  Time - Distance</h1>
    <p>Calculate your speed, time or distance!</p>
    <div class="topnav"><a href="/">Home</a> - <a href="/distance">Calculate Distance</a></div>
</body>
</html>

</body>
</html>