<!-- Our CSS -->
<link href="{{url_for('static', filename='app.css')}}" rel="stylesheet">

<html>
<head>
    <img src=https://i.imgur.com/aZLj7SM.jpg>
    <title>Register Page</title>
</head>
<body>
<h1>Register Page</h1>
    <form method="POST" action="">
    {{form.hidden_tag() }}
    {{form.username }}
    {{form.password }}
    {{form.submit }}
    <a href='/time'><input class="btn" type="button" value="Clear Inputs"></a>
    </form>
</body>
</html>

